@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
    
body{
    background-image: url(img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

div{
    width: 30rem;
    margin-left: 28rem;
    background-color: #cbac93;
    border: solid 0.2rem #5b3b28;
    border-radius: 6rem;
    padding: 2rem;
    margin-top:10% ;
}

h1{    
    text-align: center;
    font-size: 3.8rem; 
    color: #5b3b28;
}

p{
    font-size: 1.5rem;
    text-align: center;
    color: #50463f;
}

span{
    font-size: 2.8rem;
    color: #5b3b28;
}

button{
    background-color: #5b3b28;
    color: #fcf4f4;
    border: solid #5b3b28;
    border-radius: 10rem;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 0.4rem 1.2rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

button:hover{
    background-color: #b99271;   
}

footer{
    background-color: #cbac934f;
    color: #5b3b28;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    position: relative;
    bottom: 0;
    top: 10.4rem;
    padding: 0.4rem; 
}

img{
    margin-bottom: -0.3rem;
}
